@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

header {
    height: 120px;
}
.bg-primary {
    background-color: #83B263!important;
}
.navbar-brand {
    margin-bottom: -30px;
}
.main-nav {
    margin-bottom: -130px;
}
.main-menu {
    margin-top: 130px;
}
.menu-label {
    font-family: "Roboto", 'Courier New', Courier;
}
#slider {
    background-color: #BAD1A5;
}
.carousel {
    padding: 120px 0 ;
}
.carousel-inner {
    padding: 0;
}
#fonctionnement {
    background-color: #BAD1A5;
}
#fonctionnement h2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

#produits h2 {
    margin-top: 40px;
    margin-bottom: 60px;
}
#newsletter h2  {
    margin-top: 40px;
    margin-bottom: 60px;
}