/* FONT
/***************************************/
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Playfair";
    src: url(../font/Playfair/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: "Playfair_bold";
    src: url(../font/Playfair/PlayfairDisplay-Bold.ttf);
}

/*
/***************************************/
p, h3, h4, h5 {
    font-family: "Roboto",'Courier New', Courier;
}

/* HELPERS PERSO
/***************************************/
.picto {
    transition: all .2s linear 0s;
    max-width: 100px;
    width: 100%;
}
.picto:hover {
    transform: scale(1.1);
}
.titre {
    font-family: "Playfair_bold",'Courier New', Courier;
}
.badge {    
    top: 25%;
    right: 5%;
    height: 90px;
    width: 90px;
    z-index: 20;
}
.badge img {    
    max-width: 65%;
}
.badge h5 {
    color: black;
    font-size: 1em!important;
}
.z-index-1 {
    z-index: 10;
}
.z-index-2 {
    z-index: 20;
}
.z-index-3 {
    z-index: 30;
}
/* OVER BOOTSTRAP
/***************************************/
.bg-primary {
    background-color: #83B263!important;
}
.bg-secondary {
    background-color: #BAD1A5!important;
}
.bg-dark {
    background-color: #707070!important;
}
.text-primary {
    color: #DF8243!important;
}
.text-secondary {
    color: #707070!important;
}
.carousel {
    padding: 120px 0 ;
}
.carousel-in {
    position: relative;
    padding: 0;    
    overflow: hidden;
}

/* HEADER
/***************************************/
header {
    height: 120px;
}
.logo {
    transition: all .2s linear 0s;
}
.logo:hover {
    transform: rotate(25deg);
    
}

/* MENU / NAV
/***************************************/
.navbar-brand {
    margin-bottom: -30px;
}
.main-nav {
    margin-bottom: -130px;
}
.main-menu {
    margin-top: 130px;
}
.menu-label {
    font-family: "Roboto", 'Courier New', Courier;
}
.nav-label {
    font-family: "Playfair", 'Courier New', Courier;
}

/* INDEX
/***************************************/
